@namespace R2.UI.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="mobile-nav-container">


    <AuthorizeView Roles="Administrateur,Super-Administrateur">
        <Authorized>
            <button type="button" class="nav-item" @onclick="GoToResources">
                <i class="bi bi-collection"></i>
                <span class="nav-label">Ressources</span>
            </button>
            <button type="button" class="nav-item" @onclick="GoToCategories">
                <i class="bi bi-tags"></i>
                <span class="nav-label">Catégories</span>
            </button>
            <button type="button" class="nav-item" @onclick="GoToUsers">
                <i class="bi bi-people"></i>
                <span class="nav-label">Utilisateurs</span>
            </button>
            <button type="button" class="nav-item" @onclick="GoToStatistics">
                <i class="bi bi-bar-chart"></i>
                <span class="nav-label">Statistiques</span>
            </button>
        </Authorized>
    </AuthorizeView>

    <AuthorizeView>
        <Authorized>
            <button type="button" class="nav-item" @onclick="GoToLogout">
                <i class="bi bi-box-arrow-right"></i>
                <span class="nav-label">Déconnexion</span>
            </button>
        </Authorized>
        <NotAuthorized>
            <button type="button" class="nav-item" @onclick="GoToLogin">
                <i class="bi bi-box-arrow-in-right"></i>
                <span class="nav-label">Connexion</span>
            </button>
        </NotAuthorized>
    </AuthorizeView>
    @* <button type="button" class="nav-item" @onclick="GoToLogin"> *@
    @*     <i class="bi bi-box-arrow-in-right"></i> *@
    @*     <span class="nav-label">Connexion</span> *@
    @* </button> *@
</div>

@code {
    private bool showAdminMenu = false;

    private void ToggleAdminMenu()
    {
        showAdminMenu = !showAdminMenu;
    }

    private void GoToProfile()
    {
        NavigationManager.NavigateTo("profile");
    }

    private void GoToResources()
    {
        NavigationManager.NavigateTo("resources");
    }

    private void GoToCategories()
    {
        NavigationManager.NavigateTo("categories");
    }

    private void GoToUsers()
    {
        NavigationManager.NavigateTo("users");
    }

    private void GoToUserRights()
    {
        NavigationManager.NavigateTo("userrights");
    }

    private void GoToStatistics()
    {
        NavigationManager.NavigateTo("statistics");
    }

    private void GoToLogout()
    {
        NavigationManager.NavigateTo("logout");
    }

    private void GoToLogin()
    {
        NavigationManager.NavigateTo("login");
    }
}