@page "/roles/details"
@using Microsoft.EntityFrameworkCore
@using R2Model.Entities
@inject IDbContextFactory<R2Model.Context.R2DbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Role</h2>
    <hr />
    @if (role is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Label</dt>
            <dd class="col-sm-10">@role.Label</dd>
        </dl>
        <div>
            <a href="@($"/roles/edit?id={role.Id}")">Edit</a> |
            <a href="@($"/roles")">Back to List</a>
        </div>
    }
</div>

@code {
    private Role? role;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        role = await context.Role.FirstOrDefaultAsync(m => m.Id == Id);

        if (role is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
