@page "/resources/edit"
@using Microsoft.EntityFrameworkCore
@using R2Model.Entities
@inject IDbContextFactory<R2Model.Context.R2DbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Resource</h2>
<hr />
@if (Resource is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Resource" OnValidSubmit="UpdateResource" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Resource.Id" value="@Resource.Id" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Resource.Name" class="form-control" />
                    <ValidationMessage For="() => Resource.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <InputText id="description" @bind-Value="Resource.Description" class="form-control" />
                    <ValidationMessage For="() => Resource.Description" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="creationdate" class="form-label">CreationDate:</label>
                    <InputDate id="creationdate" @bind-Value="Resource.CreationDate" class="form-control" />
                    <ValidationMessage For="() => Resource.CreationDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type:</label>
                    <InputSelect id="type" @bind-Value="Resource.Type" class="form-control" />
                    <ValidationMessage For="() => Resource.Type" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputSelect id="status" @bind-Value="Resource.Status" class="form-control" />
                    <ValidationMessage For="() => Resource.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="categoryid" class="form-label">CategoryId:</label>
                    <InputNumber id="categoryid" @bind-Value="Resource.CategoryId" class="form-control" />
                    <ValidationMessage For="() => Resource.CategoryId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/resources">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Resource? Resource { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Resource ??= await context.Ressources.FirstOrDefaultAsync(m => m.Id == Id);

        if (Resource is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateResource()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Resource!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ResourceExists(Resource!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/resources");
    }

    private bool ResourceExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Ressources.Any(e => e.Id == id);
    }
}
