@page "/"
@page "/resources"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R2Model.Entities
@using R2Model.Context
@implements IAsyncDisposable
@inject IDbContextFactory<R2Model.Context.R2DbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="resources/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Ressources">
    <PropertyColumn Property="resource => resource.Name" />
    <PropertyColumn Property="resource => resource.Description" />
    <PropertyColumn Property="resource => resource.CreationDate" />
    <PropertyColumn Property="resource => resource.Type" />
    <PropertyColumn Property="resource => resource.Status" />
    <PropertyColumn Property="resource => resource.CategoryId" />

    <TemplateColumn Context="resource">
        <a href="@($"resources/edit?id={resource.Id}")">Edit</a> |
        <a href="@($"resources/details?id={resource.Id}")">Details</a> |
        <a href="@($"resources/delete?id={resource.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private R2DbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
