@page "/users"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using R2.Data.Entities
@using R2.Data.Context
@implements IAsyncDisposable
@inject IDbContextFactory<R2.Data.Context.R2DbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Users">
    <PropertyColumn Property="user => user.Name" />
    <PropertyColumn Property="user => user.LastName" />
    <PropertyColumn Property="user => user.Pseudo" />
    <PropertyColumn Property="user => user.City" />
    <PropertyColumn Property="user => user.Address" />
    <PropertyColumn Property="user => user.IsAccountActivated" />
    <PropertyColumn Property="user => user.Email" />
    <PropertyColumn Property="user => user.EmailConfirmed" />

    <TemplateColumn Context="user">
        <a href="@($"users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"users/details?id={user.Id}")">Details</a> |
        <a href="@($"users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private R2DbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
